<template>
  <v-container>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />
    
       <h1>Gateways front</h1>
      </div>
    </v-app-bar>
  
    <br><br><br>
    <loading align-center justify-center
          :active.sync="isLoading"
          :can-cancel="true"
          :is-full-page="fullPage"
          :color="color"
        ></loading>
    <v-expansion-panels>
    <v-expansion-panel
      v-for="gateways in gateways"
      :key="gateways.sn"
    >
      <v-expansion-panel-header>{{gateways.ip}} - {{gateways.name}} </v-expansion-panel-header>
      <v-expansion-panel-content>
       <v-list-item v-for="device in gateways.Devices" :key="device.uid">
      <v-list-item-content>
        <v-list-item-title>{{device.vendor}} <p style="color:green" v-if="device.status == 1">Online</p><p style ="color:#9b9d9e" v-if="device.status == 0">Offline</p></v-list-item-title>
        <v-divider
        ></v-divider>
      </v-list-item-content>
       
    </v-list-item>
    <v-btn  
                color="red"
                dark
                small
                absolute
                bottom
                left
                fab
                @click="deleteGateway(gateways.sn)"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
    <v-btn  
                color="#1976d2"
                dark
                small
                absolute
                bottom
                right
                fab
                @click="openDeviceDialog(gateways.sn)"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
    <v-btn style="
    margin-bottom: 50px;
"
                color="#1976d2"
                dark
                large
                absolute
                bottom
                right
                fab
                @click="GatewayDialog = true"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>

   <v-dialog
      v-model="GatewayDialog"
      max-width="290"
    >
    <v-card>
        <v-card-title>
          <span class="headline">Add new Gateway</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
             
              <v-col cols="12">
                <v-text-field v-model="Gateway.IP" label="IP*" required></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="Gateway.name" label="Name*"  required></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="GatewayDialog = false">Close</v-btn>
          <v-btn color="blue darken-1" text @click="saveGateway()">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

     <v-dialog
      v-model="DeviceDialog"
      max-width="290"
    >
    <v-card>
        <v-card-title>
          <span class="headline">Add new Device</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
             
              <v-col cols="12">
                <v-text-field v-model="device.vendor" label="Vendor*" required></v-text-field>
              </v-col>
               <v-col cols="12">
               <v-select
               v-model="device.status"
               label="status"
          :items="status"
          item-text= "status"
           item-value="value"
        ></v-select>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="DeviceDialog = false">Close</v-btn>
          <v-btn color="blue darken-1" text @click="saveDevice()">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
  
</template>

<script>
import Loading from "vue-loading-overlay";
import axios from "axios";
axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';

var server = "http://localhost:49800";

  export default {
    name: 'Home',

    data: () => ({
     gateways: [],
      isLoading: false,
       fullPage: true,
     color: "blue",
     Gateway: {
       IP: null,
       name: null,
     },
     device: {
       vendor: null,
      status: null,
      gateway_sn: null,
     },
     status:[
    {status: 'Online', value: 1},
    {status: 'Offline', value: 0},
    
     ],
     GatewayDialog: false,
     DeviceDialog: false
    }),
     components: {
    Loading,
  },
    created: function() {
    this.syncGateways();
  },
   methods: {
     syncGateways() {
      const _this = this;
      this.isLoading = true;
      axios
        .get(server + "/api/gateways", {
           headers: {
          // remove headers
        }
        })
        .then(function(response) {
          console.log(response);
          if (response.data) {
            _this.gateways = response.data;
            
            _this.isLoading = false;
          } else {
            _this.isLoading = false;
          }
        });
     },
     saveGateway() {
       const that = this;
        axios
          .post(
            server + "/api/gateways",
            {
              ip: this.Gateway.IP,
              name: this.Gateway.name,
            },
            { headers: "" }
          )
          .then(function(response) {
            if (response) {
             
              that.isLoading = false;
             that.GatewayDialog = false;
             that.Gateway.name = null;
             that.Gateway.IP = null;
             that.syncGateways();
            }
            console.log(response);
          });
     },
     saveDevice() {
       const that = this;
        axios
          .post(
            server + "/api/devices",
            {
              vendor: this.device.vendor,
              status: this.device.status,
              createdDate: new Date(),
              Gateway_sn: this.device.gateway_sn
            },
            { headers: "" }
          )
          .then(function(response) {
            if (response) {
             
              that.isLoading = false;
             that.DeviceDialog = false;
             that.device.vendor = null;
             that.device.status = null;
             that.syncGateways();
            }
            console.log(response);
          });
     },
     deleteGateway(key) {
       const that = this;
        axios
          .delete(
            server + "/api/gateways/"+key,
            { headers: "" }
          )
          .then(function(response) {
            if (response) {
             
              that.isLoading = false;
             that.syncGateways();
            }
            console.log(response);
          });
     },
     openDeviceDialog( Key ) {
       this.device.gateway_sn = Key;
       this.DeviceDialog = true;
     },

  },
  }
</script>
